<!DOCTYPE html>
{% load widget_tweaks %}
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <style>

        form{
           margin: 50px; 
          
        }

    </style>
  </head>
  <body>
    {% include "exam/navbar.html" %}
 


<br><br><br>
<div class="container">
  <h3 style="text-align: center;">Регистрация студента</h3>
<form method="POST" autocomplete="off" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-row">
        <div class="form-group col-md-6">
          <label for="first_name">Имя</label>
          {% render_field userForm.first_name|attr:'required:true'  class="form-control" placeholder="Имя" %}
        </div>
        <div class="form-group col-md-6">
          <label for="last_name">Фамилия</label>
          {% render_field userForm.last_name|attr:'required:true'  class="form-control" placeholder="Фамилия" %}
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="mobile">Контакты</label>
          {% render_field studentForm.mobile|attr:'required:true'  class="form-control" placeholder="Номер телефона" %}
        </div>
        <div class="form-group col-md-6">
          <label for="address">Адрес</label>
          {% render_field studentForm.address|attr:'required:true'  class="form-control" placeholder="Адрес" %}
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="username">Логин</label>
          {% render_field userForm.username|attr:'required:true'  class="form-control" placeholder="username" %}
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Пароль</label>
          {% render_field userForm.password|attr:'required:true'  class="form-control" placeholder="Пароль" %}
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="profile_pic">Загрузите фото</label>
          {% render_field studentForm.profile_pic|attr:'required:true' class="form-control" placeholder="Загрузить фото" %}
        </div>
        
      </div>


    <button type="submit" class="btn btn-success" style="border-radius: 0%;">Зарегистрироваться</button>
  </form>
</div>


<br><br>
{% include "exam/footer.html" %}
  </body>
</html>
