<!DOCTYPE html>
{% load static %}
<html lang="ru" dir="ltr">

<style>
  .jumbotron{
    margin-bottom: 0px;
  }
</style>
<body>
  {% include "exam/navbar.html" %}
<br>
<section id="section-jumbotron" class="jumbotron jumbotron-fluid d-flex justify-content-center align-items-center">
  <div class="container text-center">
    <h2 class="display-3 text-info">Тест система</h2>
    <p class="lead">Подготовочные тесты ЕНТ</p>

  
    <p><strong> Зарегистрируйтесь чтобы пройти тест</strong></p>
    <a href="/student/studentsignup" class="btn btn-lg btn-info" style="padding-right: 35px; border-radius: 5px;"><i class="fa fa-graduation-cap" aria-hidden="true"></i>Войти как студент</a>
    
    <br><br><br>
  </div>  
</section>
  {% include "exam/footer.html" %}


</body>

</html>
